{% extends "base.html" %}
{% load verbatim %}
{% block navbar %}
<ul class="nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle label_menu" data-toggle="dropdown">Labels <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if labels %}
                {% for label in labels %}
                    <li><a href="/label/{{ label.label_name }}">{{ label.label_name }}</a></li>
                {% endfor %}
            {% else %}
                <li class="disabled">No labels</li>
            {% endif %}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle expectation_menu" data-toggle="dropdown">
        {% if active_expectation %}
            {{ active_expectation }}<span class="changed_indicator">*</span> <b class="caret"></b>
        {% else %}
            Expectations <b class="caret"></b>
        {% endif %}
        </a>
        <ul class="dropdown-menu">
            <li><a href="/expectation/add/">Create new...</a></li>
            {% if active_expectation %}
            <li class="divider"></li>
            <li><a href="#" class="expectation-save">Save<span class="changed_indicator">*</span></a></li>
                <li><a href="/expectation/delete/{{ active_expectation }}">Remove</a></li>
            {% endif %}
            <li class="divider"></li>
            {% if expectations %}
                {% for exp in expectations %}
                    {% if active_expectation == exp.expectation_name %}
                        <li class="active-item"><a href="/">{{ exp.expectation_name }}</a></li>
                    {% else %}
                        <li><a href="/expectation/{{ exp.expectation_name }}">{{ exp.expectation_name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="disabled">No expectations</li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
{% block content %}
{% verbatim %}
    <script id="log_messages" type="text/html">
    {{#objects}}
    <tr class="sev-{{ severity }}{{#old}} old-data{{/old}}" id="msg-{{ id }}">
        <td><span class="label">{{ severity }}</span></td>
        <td><span class="">{{ datetime }}</span></td>
        <td><span class="">{{ application.username }}</span></td>
        <td><span class="">{{ server_ip }}</span></td>
        <td><a href="#" class="short_desc" onclick="event.preventDefault();" data-toggle="collapse" data-target="#details-msg-{{ id }}">{{ short_desc }}<i class="icon-expandable"></i></a></td>
    </tr>
    <tr>
        <td colspan="5" class="details">
            <div id="details-msg-{{ id }}" class="collapse long_desc"><pre>{{ long_desc }}</pre></div>
        </td>
    </tr>
    {{/objects}}
    </script>
{% endverbatim %}
<div class="well">

    <form class="monlog-control-form">
        <div class="control-group-wrapper">
            <div class="control-group">
                <label class="control-label">Expectation Name</label>
                <div class="control">
                    <div class="edit-mode">
                        {{ eqf.expectation_name }}
                    </div>
                    <div class="view-mode">
                        <h1>{{ exp.expectation_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Deadline</label>
                <div class="control">
                    <div class="edit-mode">
                        {{ eqf.deadline }}
                    </div>
                    <div class="view-mode">
                        <h3>{{ exp.deadline }}</h3>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Tolerance</label>
                <div class="control">
                    <div class="edit-mode">
                        {{ eqf.tolerance }}
                    </div>
                    <div class="view-mode">
                        <h3>{{ exp_tolerance }}</h3>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Repeat</label>
                <div class="control">
                    <div class="edit-mode">
                        {{ eqf.repeat }}
                    </div>
                    <div class="view-mode">
                        <h3>{{ repeat }}</h3>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="control-group-wrapper">
            <div class="control-group">
                <label class="control-label">Severities</label>
                <div class="control">
                    <div class="multiple_select">
                        {{ eqf.severity__in }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Applications</label>
                <div class="control">
                    <div class="multiple_select">
                        {{ eqf.application__in }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Servers</label>
                <div class="control">
                    <div class="multiple_select">
                        {{ eqf.server_ip__in }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Amount of results</label>
                <div class="control">
                    <div class="edit-mode">
                        {{ eqf.least_amount_of_results }}
                    </div>
                    <div class="view-mode">
                        <h3>{{ exp.least_amount_of_results }}</h3>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </form>
</div>

<div class="row-fluid">
    <div class="span12">
        <table class="table">
            <thead>
                <tr>
                    <th id="severity" class="sortable sorted-desc">Severity</th>
                    <th id="datetime" class="sortable sorted-desc sorted-active">Time</th>
                    <th id="application__username" class="sortable sorted-desc">Application</th>
                    <th id="server_ip" class="sortable sorted-desc">Server</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <!-- no log messages loaded -->
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.filters input, .filters select').change(function() {
        $(".changed_indicator").show();
    });
    $(document).ready(function() {
        var datetimepickerFormat = {timeFormat: 'hh:mm:ss', dateFormat: 'yy-mm-dd', separator :'T'};
        $("#id_deadline").datetimepicker(datetimepickerFormat);
        $("th.sortable").append('<i class="icon-sortable"></i>');
        $("th.sortable").bind('click', function(event){
            if ($(this).hasClass('sorted-active')) {
                // already sorted on this column, so user wants to switch direction of sort
                $(this).toggleClass('sorted-desc').toggleClass('sorted-asc');
            } else {
                $("th.sortable").removeClass('sorted-active');
                $(this).toggleClass('sorted-active');
            }

            var ordering_param = ($(this).hasClass('sorted-desc') ? '-' : '') + this.id;
            $('form.filters input[name="order_by"]').attr('value', ordering_param);
            $('form.filters input[name="order_by"]').change();
        });
    });
</script>
{% endblock %}
