{% extends "base.html" %}
{% load verbatim %}
{% block content %}
{% verbatim %}
    <script id="log_messages" type="text/html">
    {{#objects}}
    <tr class="sev-{{ severity }}{{#old}} old-data{{/old}}">
            <td><span class="label">{{ severity }}</span></td>
            <td><span class="">{{ datetime }}</span></td>
            <td><span class="">{{ application.username }}</span></td>
            <td><span class="">{{ server_ip }}</span></td>
            <td><span class="">{{ short_desc }}</span></td>
        </tr>
    {{/objects}}
    </script>
    <script id="refresh_notice_template" type="text/html">
        <a href="#">Click here to display {{ count }} new message(s).</a>
    </script>
{% endverbatim %}

<form class="well filters form-search collapse non-expanded" id="collapse-form">
    <div id="form-wrapper">
      <input type="hidden" name="order_by" value="-datetime">
          <div id="severity-checkboxes">
          {{ lqf.severity__in }}
          </div>
            <div id="severity-buttons" class="btn-group" data-toggle="buttons-checkbox">
              {% for id, name in lqf.severity__in.field.choices %}
                  <a href='#' class="btn active sev-{{ name }}" data-value="{{ id }}"><span class="dot">&nbsp;</span>{{ name|capfirst }}</a>
              {% endfor %}
            </div>
            {{lqf.search}}
            <div id="advanced">
                <hr />
                <div class="control-group">
                    <label class="control-label" for="id_application__in">Applications</label>
                    <div class="controls">
                        {{lqf.application__in}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_application__in">Servers</label>
                    <div class="controls">
                        {{ lqf.server_ip__in }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_datetime__gte">Start of time range</label>
                    <div class="controls">
                        {{ lqf.datetime__gte }} 
                    </div>
                    <label class="control-label" for="id_datetime__lte">End of time range (optional)</label>
                    <div class="controls">
                        {{ lqf.datetime__lte }}
                    </div>
                </div>
                <div class="well2">
                    <div class="control-group">
                        <label class="control-label">Save this search as a label</label>
                        <div class="controls">
                            {{ lqf.label }}
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
      <div id="refresh_notice" class="well"></div>
    <table class="table">
        <thead>
            <tr>
                <th id="severity" class="sortable sorted-desc">Severity</th>
                <th id="datetime" class="sortable sorted-desc sorted-active">Time</th>
                <th id="application__username" class="sortable sorted-desc">Application</th>
                <th id="server_ip" class="sortable sorted-desc">Server</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <!-- no log messages loaded -->
        </tbody>
    </table>
<script src="{{ STATIC_URL }}js/api.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#collapse-form").on('show', function(){
        $("#collapse-form").removeClass("non-expanded");
    });
    $("#collapse-form").on('hide', function(){
        $("#collapse-form").addClass("non-expanded");
    });
    $(document).ready(function() {
        $("#severity-checkboxes").hide();
        var datetimepickerFormat = {timeFormat: 'hh:mm:ss', dateFormat: 'yy-mm-dd', separator :'T'};
        $("#id_datetime__gte").datetimepicker(datetimepickerFormat);
        $("#id_datetime__lte").datetimepicker(datetimepickerFormat);
    });
    var toggleSeverity = function(button) {
        var checkbox = $("form.filters input[value='" + button.dataset['value'] + "']");
        checkbox.prop("checked", ! checkbox.prop("checked"));
        checkbox.change();
    };
    $("#severity-buttons a").bind('click', function(event){
        toggleSeverity(this);
    });
    $("th.sortable").append('<i class="icon-sortable"></i>');
    $("th.sortable").bind('click', function(event){
        if ($(this).hasClass('sorted-active')) {
            // already sorted on this column, so user wants to switch direction of sort
            $(this).toggleClass('sorted-desc').toggleClass('sorted-asc');
        } else {
            $("th.sortable").removeClass('sorted-active');
            $(this).toggleClass('sorted-active');
        }

        var ordering_param = ($(this).hasClass('sorted-desc') ? '-' : '') + this.id;
        $('form.filters input[name="order_by"]').attr('value', ordering_param);
        $('form.filters input[name="order_by"]').change();
    });
</script>
{% endblock %}
