{% extends "base.html" %}
{% load verbatim %}
{% block navbar %}
<ul class="nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Labels <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for label in labels %}
            <li><a href="/?label={{label.label_name}}">{{ label.label_name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
<ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <li class="streaming"><a href="#" onclick="event.preventDefault()" data-toggle="collapse" data-target="#collapse-form" class="" id="streaming">Streaming</a></li>
</ul>
{% endblock %}
{% block content %}
{% verbatim %}
    <script id="log_messages" type="text/html">
    {{#objects}}
    <tr class="sev-{{ severity }}{{#old}} old-data{{/old}}" id="msg-{{ id }}">
        <td><span class="label">{{ severity }}</span></td>
        <td><span class="">{{ datetime }}</span></td>
        <td><span class="">{{ application.username }}</span></td>
        <td><span class="">{{ server_ip }}</span></td>
        <td><a href="#" onclick="event.preventDefault();" data-toggle="collapse" data-target="#details-msg-{{ id }}"><div class="">{{ short_desc }}</div></a></td>
    </tr>
    <tr>
        <td colspan="5" class="details">
            <div id="details-msg-{{ id }}" class="collapse long_desc"><pre>{{ long_desc }}</pre></div>
        </td>
    </tr>
    {{/objects}}
    </script>
    <script id="refresh_notice_template" type="text/html">
        <a href="#">Click here to display {{ count }} new message(s).</a>
    </script>
{% endverbatim %}
<form class="well filters form-search collapse non-expanded" id="collapse-form">
    <div id="form-wrapper">
        <input type="hidden" name="order_by" value="-datetime">
        <div id="severity-checkboxes">
            {{ lqf.severity__in }}
        </div>
        <div id="severity-buttons" class="btn-group" data-toggle="buttons-checkbox">
            {% for id, name,active in lqf.severity_choices %}
            <a href='#' class="btn {% if active %} active {% endif %}sev-{{ name }}" data-value="{{ id }}"><span class="dot">&nbsp;</span>{{ name|capfirst }}</a>
            {% endfor %}
        </div>
        {{lqf.search}}
        <div id="advanced">
            <hr />
            <div class="control-group">
                <label class="control-label" for="id_application__in">Applications</label>
                <div class="controls">
                    {{lqf.application__in}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_application__in">Servers</label>
                <div class="controls">
                    {{ lqf.server_ip__in }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_datetime__gte">Start of time range</label>
                <div class="controls">
                    {{ lqf.datetime__gte }} 
                </div>
                <label class="control-label" for="id_datetime__lte">End of time range (optional)</label>
                <div class="controls">
                    {{ lqf.datetime__lte }}
                </div>
            </div>
        </form>
        <div class="control-group well2">
            <form>
                <label class="control-label">Save this search as a label</label>
                <div class="controls">
                    {{ label_field }}
                    <button id="label-save" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="refresh_notice" class="well"></div>
<table class="table">
    <thead>
        <tr>
            <th id="severity" class="sortable sorted-desc">Severity</th>
            <th id="datetime" class="sortable sorted-desc sorted-active">Time</th>
            <th id="application__username" class="sortable sorted-desc">Application</th>
            <th id="server_ip" class="sortable sorted-desc">Server</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        <!-- no log messages loaded -->
    </tbody>
</table>
<div id="lazyload-trigger"></div>
<script src="{{ STATIC_URL }}js/api.js" type="text/javascript"></script>
<script type="text/javascript">
    $('#lazyload-trigger').appear(lazyloadTrigger, { 'one': false });
    $("#label-save").click(function(){
        var query = $(".filters").serialize();
        $.post("/label/", {
            csrfmiddlewaretoken : "{{ csrf_token }}",
            query_string : query,
            name: $("#id_label").val()
            }, 
            function(data) {
                console.log(data);
                window.location=data;
            }
        );
    });
    $(document).ready(function() {
        $("#severity-checkboxes").hide();
        var datetimepickerFormat = {timeFormat: 'hh:mm:ss', dateFormat: 'yy-mm-dd', separator :'T'};
        $("#id_datetime__gte").datetimepicker(datetimepickerFormat);
        $("#id_datetime__lte").datetimepicker(datetimepickerFormat);
    });
    var toggleSeverity = function(button) {
        var checkbox = $("form.filters input[value='" + button.dataset['value'] + "']");
        checkbox.prop("checked", ! checkbox.prop("checked"));
        checkbox.change();
    };
    $("#severity-buttons a").bind('click', function(event){
        toggleSeverity(this);
    });
    $("th.sortable").append('<i class="icon-sortable"></i>');
    $("th.sortable").bind('click', function(event){
        if ($(this).hasClass('sorted-active')) {
            // already sorted on this column, so user wants to switch direction of sort
            $(this).toggleClass('sorted-desc').toggleClass('sorted-asc');
        } else {
            $("th.sortable").removeClass('sorted-active');
            $(this).toggleClass('sorted-active');
        }

        var ordering_param = ($(this).hasClass('sorted-desc') ? '-' : '') + this.id;
        $('form.filters input[name="order_by"]').attr('value', ordering_param);
        $('form.filters input[name="order_by"]').change();
    });
    $("#collapse-form").on('show', function() { toggleStreamingMode(false); });
    $("#collapse-form").on('hide', function() { toggleStreamingMode(true); });
    $("table tbody").on('show', '.long_desc', function(event) {
        if (streamingMode) {
            // Make sure the clicked log message will be visible after collapse
            $(window).scrollTop($(event.target).offset().top - 60);
            // Go to pause mode, showing the filter form will trigger toggleStreamingMode correctly
            $("#collapse-form").collapse('show');
        }
    });
</script>
{% endblock %}
